<div class='center'>
	<%= form_for @developer, html: {class: 'form'} do |f| %>
		<h2 class="form_header"><%= params[:action].titleize %> Dev</h2>
		<% if @developer.errors.any? %>
			<fieldset class="form_errors">
				<legend>Form Errors</legend>
				<ul>
					<% for message in @developer.errors.full_messages %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</fieldset>
		<% end %>
		<div class="form_field">
			<%= f.label :name %><br/>
			<%= f.text_field :name %>
		</div>
		<div class="form_field">
			<%= f.label :link %><br/>
			<%= f.text_field :link, style: 'width:179px; border-top-right-radius:0; border-bottom-right-radius:0; padding-right:0;' %><%= link_to image_tag('link.png'), "", id: 'link_tester', target: '_blank', title: 'test link' %>
		</div>
		<div class="form_submit">
			<%= f.submit %>
		</div>
	<% end %>
</div>
<% content_for :head do %>
	<%= javascript_include_tag params[:controller] %>
<% end %>