<div class='center'>
	<%= form_for @developer, html: {class: 'form'} do |f| %>
		<h2 class="form_header"><%= params[:action].titleize %> Developer</h2>
		<% if @developer.errors.any? %>
			<fieldset class="form_errors">
				<legend>Form Errors</legend>
				<ul>
					<% for message in @developer.errors.full_messages %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</fieldset>
		<% end %>
		<div class="form_field">
			<%= f.label :name %><br/>
			<%= f.text_field :name %>
		</div>
		<div class="form_field">
			<%= f.label :link %><br/>
			<%= f.text_field :link %>
		</div>
		<div class="form_submit">
			<%= f.submit %>
		</div>
	<% end %>
</div>