<div class="center">
  <div id="sign_up_message">
    <p>Don't have an account? Sign up <%= link_to 'here', signup_path %>.</p>
    <%= link_to "Sign Up", signup_path, id: 'signup_link' %><br class="clear"/>
  </div>
	<%= form_tag sessions_path, class: "form", honeypot: true do %>
		<h2 class="form_header" style="margin-left:-75%;">Sign In</h2>
		<div class="form_field">
			<%= label_tag :login, "Username/Email:" %><br/><%= text_field_tag :login %>
		</div>
		<div class="form_field">
			<%= label_tag :password, "Password:" %><br/><%= password_field_tag :password %>
		</div>
		
		<%= check_box_tag :remember_me, 1, params[:remember_me] %> <%= label_tag :remember_me %><br/>
		<p style="font-size:0.8em; margin:5px 0;">Forgot your password?<br/>Reset it <%= link_to "here", reset_password_path %>.</p>

		<div class="form_submit">
			<%= submit_tag 'Login' %>
		</div>
	<% end %>
</div>