<div class="center">
  <%= form_for @user, url: password_reset_path(params[:id]), html: {class: 'form', style: 'min-width:300px;'} do |f| %>
  	<% if @user.errors.any? %>
  		<ul>
  			<% for message in @user.errors.full_messages %>
  				<li><%= message %></li>
  			<% end %>
  		</ul>
  	<% end %>

    <%= link_to "", login_path, title: 'Cancel', class: 'form_cancel' %>
    <h2 class="form_header">Reset Password</h2>

    <div class="form_field">
    	<%= f.label :password %><br/>
    	<%= f.password_field :password %>
    </div>

    <div class="form_field">
    	<%= f.label :password_confirmation %><br/>
    	<%= f.password_field :password_confirmation %>
    </div>

    <div class="form_submit">
  	 <%= f.submit "Change Password" %>
    </div>
  <% end %>
</div>