<div class="center">
	<%= form_tag password_resets_path, method: :post, class: 'form', honeypot: true do %>
    <%= link_to "<span></span>".html_safe, login_path, title: 'Cancel', class: 'form_cancel' %>
		<h2 class="form_header" style="margin-left:-40%;">Reset Password</h2>
		<div class="form_field">
			<%= label_tag :email, "Enter your email:" %><br/>
			<%= text_field_tag :email, params[:email] %>
		</div>
		<div class="form_submit">
			<%= submit_tag "Submit" %>
		</div>
	<% end %>
</div>