<%= 
  metamagic(
    title: "FAQ", 
    keywords: %w(flash game free play faq questions support help)
  ) 
%>
<div class="faq_constraint">
  <h1 id="faq_header">
    <%= link_to(image_tag('add.png', class: 'middle')+" Add FAQ", new_faq_path) if current_user && current_user.admin?%>
    F<span>requently </span>
    A<span>sked </span>
    Q<span>uestions</span>
  </h1>
  <div class="wrapper">
    <h3 class="heading">Questions</h3>
    <% @grouped_faqs.each do |group| %>
      <ul class="faq_link_list">
        <% group.each do |faq| %>
          <li><%= link_to faq.question, "#faq_#{faq.id}" %></li>
        <% end %>
      </ul>
    <% end %><br class="clear"/>
  </div>
  <% @faqs.each do |faq| %>
    <div class="faq_item" id="faq_<%= faq.id %>">
      <div class="symbols">
        <span class="q">Q</span>
        <span>A</span>
      </div>
      <div class="faq_question">
        <%= best_in_place_if current_user && current_user.admin?, faq, :question, path: "/faqs/#{faq.id}" %>
      </div>
      <p><%= best_in_place_if current_user && current_user.admin?, faq, :answer, path: "/faqs/#{faq.id}", type: :textarea %></p>
    </div>
  <% end %>
  <div id="bottom_page">
    <hr class="divider"/>
    <%= link_to "Top of Page &#8593;".html_safe, "#header", class: 'topLink' %>
  </div>
</div>
<%= javascript_include_tag params[:controller] %>