<%= 
  metamagic(
    title: "Glipster | #{@user.username.possessive} Comments", 
    keywords: %w(flash game free play online comments) 
  ) 
%>
<% grouped_comments = @comments.group_by(&:game) %>
<div class="center" id="comments_list">
  <%= link_to "Back to #{@user.username.possessive} Profile", @user, id: 'user_prof_link' %>
  <h1 id="pageHeader"><%= @user.username.possessive %> Comments</h1>
  <br/>
  <% if @comments.present? %>
    <div id="top_comment_pagination">
      <%= will_paginate @comments %><br class="clear"/>
    </div>
    <% grouped_comments.each do |game, comments| %>
      <fieldset class="game_comment_list">
        <legend><%= link_to small_game_thumb(game) + game.title, game %></legend>
        <% comments.each do |comment| %>
          <%= render partial: 'comment', locals: {comment: comment} %>
        <% end %>
      </fieldset>
    <% end %>
    <div id="bottom_comment_pagination">
      <%= will_paginate @comments %><br class="clear"/>
    </div>
  <% else %>
    <p id="no_comments"><%= link_to @user.username, @user %> has no comments :(</p>
  <% end %>
</div>
<%= javascript_include_tag params[:controller] %>