<div class="center constraint" style="width:70%;">
  <div id="most_played">
    <h1 id="pageHeader"><span class="title">Top <%= @quantity %> Most Played</span></h1>
    <div id="tabs">
      <ul>
        <li class="tab_link"><%= link_to "Today", "#Daily" %></li>
        <li class="tab_link"><%= link_to "This Week", "#Weekly" %></li>
        <li class="tab_link"><%= link_to "This Month", "#Monthly" %></li>
        <li class="tab_link"><%= link_to "All Time", "#All" %></li>
        <hr class="divider">
      </ul>
      <div class="tab" id="Daily">
        <h2 class="tab_header">Today's Most Played
          <%= render partial: 'quantity_links', locals: {anchor: "Daily"} %>
        </h2>
        <%= render partial: 'most_played_games', locals: {games: @daily_games} %>
      </div>
      <div class="tab" id="Weekly">
        <h2 class="tab_header">This Week's Most Played
          <%= render partial: 'quantity_links', locals: {anchor: "Weekly"} %>
        </h2>
        <%= render partial: 'most_played_games', locals: {games: @weekly_games} %>
      </div>
      <div class="tab" id="Monthly">
        <h2 class="tab_header">This Month's Most Played
          <%= render partial: 'quantity_links', locals: {anchor: "Monthly"} %>
        </h2>
        <%= render partial: 'most_played_games', locals: {games: @monthly_games} %>
      </div>
      <div class="tab" id="All">
        <h2 class="tab_header">All Time Most Played
          <%= render partial: 'quantity_links', locals: {anchor: "All"} %>
        </h2>
        <%= render partial: 'most_played_games', locals: {games: @all_top_games} %>
      </div>
    </div>
  </div>
  <div id="bottom_page">
    <hr class="divider"/>
    <%= link_to "Top of Page &#8593;".html_safe, "#header", class: 'topLink' %>
  </div>
</div>
<%= javascript_include_tag 'games' %>