<div class="center constraint" style="width:70%;">
	<%= form_tag new_search_path, method: :get, id: 'search' do %>
		<%= label_tag :search, "Search Games" %>
		<%= text_field_tag :search, '', placeholder: 'Enter search here...', id: 'title_search' %>
		<div class="form_submit"><%= submit_tag '' %></div>
	<% end %>
	<div id="results" class="center">
		<%= render 'search_results' %>
	</div>
</div>
<%= javascript_include_tag params[:controller] %>