<div class="center">
  <%= form_for @new_image, method: :post, html: {class: 'form', multipart: true} do |f| %>
    <h2 class="form_header">Featured Images</h2><br/>
    <div class="inline-block">
      <div class="form_field">
        <%= f.label :image %><br/>
        <%= f.file_field :image %>
      </div>
      <div class="form_field">
        <%= f.label :title %><br/>
        <%= f.text_field :title %>
      </div>
    </div>
    <div class="inline-block" style="vertical-align:top; margin-left:15px;">
      <div class="form_field">
        <%= f.label :link %><br/>
        <%= f.text_field :link, value: nil, placeholder: 'search game titles', data: {autocomplete: search_games_path} %>
      </div>
      <div class="form_submit">
        <%= f.submit 'Add Image' %>
      </div>
    </div>
  <% end %>
</div>
<div id="featured_image_list_wrapper">
  <%= form_tag featured_images_update_position_path, method: :put do %>
    <div class="form_submit">
      <%= submit_tag "Update Order" %>
    </div>
    <ul id="featured_image_list">
      <% @images.each do |img| %>
        <% if img.present? %>
          <li class="featured_image">
            <%= featured_image(img) %>
            <span class="delete_featured_image">
              <%= link_to image_tag('delete.png'), img, method: :delete %>
            </span>
            <span class="image_position"><%= img.display_position %></span>
            <%= hidden_field_tag "featured_image[#{img.id}]", img.position, id: "image_position_#{img.id}" %>
          </li>
        <% end %>
      <% end %><br class="clear"/>
    </ul>
  <% end %>
</div>
<%= javascript_include_tag params[:controller] %>