<div class="center">
  <%= form_for @new_image, method: :post, html: {class: 'form', multipart: true} do |f| %>
    <h2 class="form_header">Featured Images</h2><br/>
    <div class="inline-block">
      <div class="form_field">
        <%= f.label :image %><br/>
        <%= f.file_field :image %>
      </div>
      <div class="form_field">
        <%= f.label :title %><br/>
        <%= f.text_field :title %>
      </div>
    </div>
    <div class="inline-block" style="vertical-align:top; margin-left:15px;">
      <div class="form_field">
        <%= f.label :link %><br/>
        <%= f.text_field :link, value: nil, placeholder: 'search game titles', data: {autocomplete: search_games_path} %>
      </div>
      <div class="form_submit">
        <%= f.submit 'Add Image' %>
      </div>
    </div>
  <% end %>
</div>
<div class="center">
  <% @grouped_images.each do |images| %>
    <div class="inline-block">
      <% images.each do |img| %>
        <% if img.present? %>
          <%= featured_image(img) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<%= javascript_include_tag params[:controller] %>