<div class="center">
  <%= form_for @user, url: update_password_user_path, method: :put, html: {class: 'form'} do |f| %>
    <h1 class="form_header" style="margin-left:-35%;">Change Password</h1>
    <div class="form_container">
      <div class="form_field">
        <%= f.label :current_password, "Old Password" %><br/>
        <%= f.password_field :current_password %>
      </div>
      <div class="form_field">
        <%= f.label :password, "New Password" %><br/>
        <%= f.password_field :password %>
      </div>
      <div class="form_field">
        <%= f.label :password_confirmation, "Retype New Password" %><br/>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="form_submit">
        <%= f.submit "Change Password" %>
      </div>
    </div>
  <% end %>
</div>