<div class="center">
	<div id="user_show">
		<span class="profile_pic">
			<%= avatar_large(@user) %><br/>
			<%= link_to("Change Avatar", '#', id: 'change_av_link') if current_user == @user %>
		</span>
		<h2 id="user_header"><%= @user.username %></h2>
	</div>
</div>
<div id="change_prof_pic" title="Update Avatar">
  <%= form_for @user, html: {multipart: true} do |f| %>
    <%= link_to image_tag('browse_files.png')+" Select File", '#', onclick: 'openFileBrowser()' %><br/>
    <span id="pending_filename"></span><br/>
    <%= f.file_field :image, style: 'display:none;' %>
    <%= image_tag 'large_default_avatar.png', id: 'userImgPrev' %>
    <div class="form_submit">
      <%= f.submit "Update Avatar" %>
    </div>
  <% end %>
</div>
<%= javascript_include_tag params[:controller] %>