<div class="center">
	<div id="user_show">
		<span class="profile_pic">
			<%= avatar_large(@user, 'userImage') %>
      <% if current_user == @user %>
  			<%= link_to(image_tag('image.png')+" Change Avatar", '#', id: 'change_av_link') %>
        <%= link_to(image_tag('lock.png')+" Change Password", change_password_user_path, id: 'change_pw_link') %>
      <% end %>
		</span>
		<h2 id="user_header">
      <%= @user.username %>
      <%= link_to "<span>Change Username</span> #{image_tag('wand.gif')}".html_safe, "#", id: 'change_un_link' %>
    </h2>
	</div>
</div>
<div id="change_prof_pic" title="Update Avatar">
  <%= form_for @user, html: {multipart: true} do |f| %>
    <%= link_to image_tag('browse_files.png')+" Select File", '#', onclick: 'openFileBrowser()' %><br/>
    <span id="pending_filename"></span><br/>
    <%= f.file_field :image, style: 'display:none;' %>
    <%= avatar_large(@user,'userImgPrev') %>
    <div class="form_submit">
      <%= f.submit "Update Avatar" %>
    </div>
  <% end %>
</div>
<div id="change_username" title="Change Username">
  <%= form_for @user, html: {honeypot: true} do |f| %>
    <div class="form_field">
      <%= f.label :username, "New Username" %><br/>
      <%= f.text_field :username %>
    </div>
    <div class="form_submit">
      <%= f.submit "Change Username" %>
    </div>
  <% end %>
</div>
<%= javascript_include_tag params[:controller] %>