<div class="center">
	<div id="user_show">
		<span class="profile_pic">
			<%= avatar_large(@user, 'userImage') %>
      <% if current_user == @user %>
        <span class="settings_header">Settings
          <%= image_tag('gear.png', alt: 'settings', title: 'Settings', class: 'right') %>
        </span>
  			<%= link_to(image_tag('image.png')+" Change Avatar", '#', id: 'change_av_link') %>
        <%= link_to(image_tag('lock.png')+" Change Password", edit_password_update_path(@user), id: 'change_pw_link') %>
      <% end %>
		</span>
		<h1 id="user_header">
      <%= @user.username %>
      <%= link_to "<span>Change Username</span> #{image_tag('wand.gif')}".html_safe, "#", id: 'change_un_link' %>
    </h1>
    <div class="user_col">
      <div class="user_content user_stats" style="margin-right:7.5px;">
        Plays: <%= number_with_delimiter(@user.plays, delimiter: ',') %>
        <div class="rank">
          <p class="lvl">Level</p>
          <div class="lvl_bar">
            <p class="stage"><%= @user.level(@user.plays).stage %></p>
            <span class="progress" style="width:<%= @user.level_progress(@user.plays) %>;"></span>
          </div>
        </div>
      </div>
    </div><!--
    --><div class="user_col">
      <div class="user_content user_stats" style="margin-left:7.5px;">
        Comments: <%= number_with_delimiter(@user.comments.size, delimiter: ',') %>
        <div class="rank">
          <p class="lvl">Level</p>
          <div class="lvl_bar">
            <p class="stage"><%= @user.level(@user.comments.size).stage %></p>
            <span class="progress" style="width:<%= @user.level_progress(@user.comments.size) %>;"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="user_content">
      <h2 class="user_section_header">Recently Played
        <% if @recently_played.size == 5 %>
          <%= link_to "<span>Show More</span>".html_safe, '', class: 'ext_list_link', id: 'recentsAll' %>
        <% end %>
      </h2>
      <% if @recently_played.present? %>
        <%= render partial: '/games/game', collection: @recently_played %>
      <% else %>
        <p class="no_user_content">
          <%= "#{(current_user == @user) ? "You have" : (@user.username+" has")} no recently played games :( " %>
        </p>
      <% end %>
    </div>
    <div class="user_content">
      <h2 class="user_section_header">Likes
        <% if @likes.size == 5 %>
          <%= link_to "<span>Show More</span>".html_safe, '', class: 'ext_list_link', id: 'likesAll' %>
        <% end %>
      </h2>
      <% if @likes.present? %>
        <%= render partial: '/games/game', collection: @likes %>
      <% else %>
        <p class="no_user_content">
          <%= "#{(current_user == @user) ? "You have" : (@user.username+" has")} no liked games :( " %>
        </p>
      <% end %>
    </div>
	</div>
</div>

<% if @likes.size == 5 %>
  <div id="likes_list" title="All Likes">
    <script>
      $.ajax({
        type: "GET",
        url: "<%= user_likes_path(@user) %>"
      });
    </script>
  </div>
<% end %>

<% if @recently_played.size == 5 %>
  <div id="recently_played_list" title="All Recently Played">
    <script>
      $.ajax({
        type: "GET",
        url: "<%= user_recents_path(@user) %>"
      });
    </script>
  </div>
<% end %>

<%= render 'user_image_form' %>
<%= render 'username_form' %>
<%= javascript_include_tag params[:controller] %>