<div class="center constraint">
	<h2 class="featured_category_title">
		Featured <%= @category.name %> Games
		<%= link_to "collapse &uarr;".html_safe, '', id: 'toggle' %>
	</h2>
	<% if @featured_games.present? %>
		<div id="featured_games_list">
			<% @featured_games.each do |game| %>
				<div class="game_wrapper">
					<span>
						<div class="game_img">
							<%= link_to game_thumb(game), game %>
							<%= image_tag("star.png", class: 'featured_icon') if game.featured %>
						</div>
						<%= link_to game, class: 'vertical_game_link', title: game.title do %>
							<h4><%= game.title %></h4>
							<p><%= game.description.present? ? game.description : "<i>No Description</i>".html_safe %></p>
						<% end %>
					</span>
					<%= link_to(image_tag("delete.png"), featured_category_game_url(game.featured_category_game), method: :delete, class: 'action') %>
				</div>
			<% end %>
		</div>
	<% else %>
		<span class="no_results">No Featured Games</span>
	<% end %><br/>
	<%= form_tag featured_category_game_path(@category), method: :get, class: 'feature_game_search' do %>
		<%= search_field_tag :search, nil, id: 'game_name_search', placeholder: 'Search Category...' %>
		<%= submit_tag '' %>
	<% end %>
	<div id="search_wrapper">
		<%= render partial: 'search' %>
	</div>
</div><br/>
<%= javascript_include_tag params[:controller] %>
