<h1 class="category_title">Featured Games</h1>
<div class="center constraint">
	<% unless current_user.present? %>
		<div id="sign_up_message">
			<p>Don't have an account? Sign up <%= link_to 'here', signup_path %>.</p>
			<%= link_to "Sign Up", signup_path, id: 'signup_link' %><br class="clear"/>
		</div>
	<% end %>
	<%= form_tag new_search_path, method: :get, id: 'search' do %>
		<%= label_tag :search, "Search Games" %>
		<%= text_field_tag :search, '', placeholder: 'Enter search here...', id: 'title_search', data: {autocomplete: search_games_path} %>
		<div class="form_submit"><%= submit_tag '' %></div>
	<% end %>
	<hr class="divider no_mar_bottom-"/>
	<%= render partial: 'slideshow' %>
	<hr class="divider no_mar_top-"/>
	<div class="games_container">
		<h3>Featured Games<%= featured_cat_header_icon %></h3>
		<% if @featured.present? %>
			<%= render partial: 'game_list', locals: {games: @featured} %>
		<% end %>
	</div>

	<div class="inline-block" style="width:70%;">
		<div style="padding-right:20px;">
			<div class="games_container">
				<h3>New Games</h3>
				<% if @new_games.present? %>
					<%= render partial: 'game_list', locals: {games: @new_games} %>
				<% end %>
			</div>
		</div>
	</div><!--
	--><div class="inline-block" style="width:30%; vertical-align:top;">
		<div class="games_container">
			<h3>Random Game</h3>
			<% if @random_game.first %>
				<%= render partial: 'game_list', locals: {games: @random_game} %>
			<% end %>
		</div>
	</div>
</div><br class="clear"/>
<% content_for :head do %>
	<%= javascript_include_tag 'jquery.tinycarousel' %>
	<%= javascript_include_tag params[:controller] %>
<% end %>