<%= page_entries_info @comments, model: 'comment' %>
<%= will_paginate @comments %>
<% @comments.each do |comment| %>
	<div class="comment">
		<%= link_to avatar_thumb(comment.user), comment.user %>
		<%= comment.message %>
		<div class="comment_details"><%= comment.created_at.localtime.strftime("%b %e, %Y %l:%M %p %Z") %></div>
		<div class="comment_action"><%= link_to "Delete", comment, method: :delete %></div>
	</div>
<% end %>