<div class="center">
	<%= form_for @game, html: {class: "form"} do |f| %>
		<h2 class="form_header"><%= params[:action].titleize %> Game</h2><br/>
    <% if @game.errors.any? %>
      <fieldset class="form_errors">
        <legend>Form Errors</legend>
        <ul>
          <% for message in @game.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </fieldset>
    <% end %>
		<%= f.hidden_field :key %>
		<span class="form_field_wrapper" style="margin-right:20px;">
			<div class="form_field">
				<%= f.label :title %><br/>
				<%= f.text_field :title, value: @game.flash_file_name.gsub("_", " ").gsub(".swf","") %>
			</div>
			<div class="form_field">
				<%= f.label :image %><br/>
				<%= f.file_field :image %>
			</div>
      <div class="form_field">
        <%= f.check_box :featured, value: 1, checked: @game.featured %>
        <%= f.label :featured %>
      </div>
		</span><!--
		--><span class="form_field_wrapper">
			<div class="form_field">
				<%= f.label :height %><br/>
				<%= f.text_field :height %>
			</div>
			<div class="form_field">
				<%= f.label :width %><br/>
				<%= f.text_field :width %>
			</div>
			<div class="form_field">
				<%= f.label :developer_id %><br/>
				<%= f.select :developer_id, options_from_collection_for_select(Developer.all, :id, :name, @game.developer_id), include_blank: true %>
			</div>
		</span>
    <div class="form_field">
      <%= f.label :controls %><br/>
      <%= f.text_area :controls %>
    </div>
		<div class="form_field">
			<%= f.label :description %><br/>
			<%= f.text_area :description %>
		</div>
		<div class="form_field" style="text-align:left; min-width:200px; display:inline-block;">
			<h5>Categories:</h5>
			<% Category.find(:all).in_groups(3, false).each do |group| %>
        <div class="inline-block vertical-top" style="<%= cycle('','margin:0 15px;','') %>">
          <% group.each do |category| %>
    				<%= check_box_tag "game[category_ids][]", category.id, @game.categories.include?(category), id: "category_#{category.id}" %>
    				<%= label_tag "category_#{category.id}", category.name %><br/>
          <% end %>
        </div>
			<% end %>
		</div>

		<div class="form_submit">
			<%= f.submit %>
		</div>	
	<% end %>
</div>