<div class="center">
	<%= form_for @game, html: {class: "form"} do |f| %>
		<h2 class="form_header"><%= params[:action].titleize %> Game</h2><br/>
    <% if @game.errors.any? %>
      <fieldset class="form_errors">
        <legend>Form Errors</legend>
        <ul>
          <% for message in @game.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </fieldset>
    <% end %>
		<%= f.hidden_field :key %>
    <div class="inline-block">
  		<span class="form_field_wrapper" style="margin-right:20px;">
  			<div class="form_field">
  				<%= f.label :title %><br/>
  				<%= f.text_field :title, value: @game.title.present? ? @game.title : @game.flash_file_name.gsub("_", " ").gsub(".swf","").titleize, data: {autocomplete: search_index_path} %>
  			</div>
        <div class="form_field">
          <%= f.label :developer_name, "Developer" %><br/>
          <%= f.text_field :developer_name, value: @game.developer_id.present? ? @game.developer.name : nil, data: {autocomplete_source: developers_path} %>
        </div>
  		</span><!--
  		--><span class="form_field_wrapper">
  			<div class="form_field">
  				<%= f.label :width %><br/>
  				<%= f.text_field :width %>
  			</div>
        <div class="form_field">
          <%= f.label :height %><br/>
          <%= f.text_field :height %>
        </div>
  		</span>
      <div class="form_field">
        <%= f.label :controls %><br/>
        <%= f.text_area :controls %>
      </div>
  		<div class="form_field">
  			<%= f.label :description %><br/>
  			<%= f.text_area :description %>
  		</div>
    </div>

    <div id="game_form_right_column">
      <div class="form_field inline-block text-left">
        <h5>Categories:</h5>
        <% Category.find(:all).in_groups(3, false).each do |group| %>
          <div class="inline-block vertical-top" style="<%= cycle('','margin:0 15px;','') %>">
            <% group.each do |category| %>
              <%= check_box_tag "game[category_ids][]", category.id, @game.categories.include?(category), id: "category_#{category.id}" %>
              <%= label_tag "category_#{category.id}", category.name %><br/>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="form_field" id="game_form_image">
        <%= f.label :image %><br/>
        <%= f.file_field :image %><br/>

        <%= game_thumb(@game) %>
      </div>

      <div class="form_field" id="game_featured_field">
        <%= f.check_box :featured, value: 1, checked: @game.featured %>
        <%= f.label :featured %>
      </div><br/>
      <div class="form_field">
        <%= label_tag :sequel_search, "Add A Sequel" %><br/>
        <%= text_field_tag :sequel_search, '', data: {autocomplete: search_index_path} %><br/>
        <%= hidden_field_tag "game[sequel_ids][]" %>
        <ul id="sequels_list">
          <% @game.sequels.each do |seq| %>
            <%= render partial: 'sequel', locals: {seq: seq} %>
          <% end %>
        </ul>
      </div>
    </div>

		<div class="form_submit">
			<%= f.submit %>
		</div>	
	<% end %>
</div>
<script>
function load_sequel(id){
  var path = "<%= game_sequels_path %>",
      game = id.split("/")[2]

  $.ajax({
    type: "GET",
    url: path + "?id=" + game
  });
}
</script>
<%= javascript_include_tag 'developers' %>
<%= javascript_include_tag params[:controller] %>