<div class="center">
	<%= form_for @game, html: {class: "form"} do |f| %>
		<h2 class="form_header"><%= params[:action].titleize %> Game</h2>
		<%= f.hidden_field :key %>
		<div class="form_field">
			File: <%= @game.flash_file_name %>
		</div>
		<div class="form_field">
			<%= f.label :title %><br/>
			<%= f.text_field :title %>
		</div>
		<div class="form_field">
			<%= f.label :description %><br/>
			<%= f.text_area :description %>
		</div>
		<div class="form_field">
			<%= f.label :controls %><br/>
			<%= f.text_field :controls %>
		</div>
		<div class="form_submit">
			<%= f.submit %>
		</div>	
	<% end %>
</div>