<span id="page_visits">Page Visits: <span><%= @game.plays %></span></span>
<span class="reputation">
	<%= link_to image_tag('thumbs_up.png'), vote_game_path(value: '1'), method: :post, class: "up_link #{highlight_vote(@game, 1)}", remote: current_user.nil? ? false : true, title: '+1' %>
	<div class="reputation_bar">
		<% if @rep_percents.present? %>
			<p class="percentage"><%= @rep_percents.first.round %>%</p>
			<span class="right_bar" style="width:<%= @rep_percents.first %>%;"></span><span class="left_bar" style="width:<%= @rep_percents.last %>%;"></span>
		<% else %>
			<span class="full_bar">No Votes</span>
		<% end %>
	</div>
	<%= link_to image_tag('thumbs_down.png'), vote_game_path(value: '-1'), method: :post, class: "down_link #{highlight_vote(@game, -1)}", remote: current_user.nil? ? false : true, title: '-1' %>
</span>