<div class="center">
	<div id="game_show">
		<div id="game_header">
			<div>
				<%= link_to_if(current_user && current_user.admin?, game_thumb(@game), edit_game_path(@game)) %>
				<%= special_status_image(@game) %>
			</div>
			<h1><%= @game.title %> 
				<% if @developer.present? %>
					<span>
						By: <%= link_to_if(@developer.link.present?, @developer.name, @developer.link, target: '_blank') %>
					</span>
				<% end %>
			</h1>
		</div>
		<div id="game_body">
      <%= content_tag :embed, "", src: @game.flash_file.url, width: @game.width, height: @game.height, wmode: 'opaque' %>
			<% if @categories.present? %>
				<br/>
				<div class="categories">
					<b>Categories:</b>
					<%= @categories.map{|cat| link_to(cat.name, cat)}.join(", ").html_safe %>
				</div>
			<% end %>
		</div>
	</div>
	<div id="game_stats">
    <div id="placeholder">
		<%= image_tag("spinner.gif", class: 'spinner') %>
		<script>
			$.ajax({
			  type: "GET",
			  url: "<%= load_reputation_game_path(@game) %>"
			});
		</script>
    </div>
    <div id="ext_stats">
      <div class="stats_wrapper">
        <p class="plays_stat_box">
          Today's Plays<br/>
          <span class="play_count today">
            <%= number_with_delimiter(@game.daily_plays, delimiter: ',') %>
          </span>
        </p>
        <p class="plays_stat_box">
          This Week's Plays<br/>
          <span class="play_count this_week">
            <%= number_with_delimiter(@game.weekly_plays, delimiter: ",") %>
          </span>
        </p>
        <p class="plays_stat_box">
          This Month's Plays<br/>
          <span class="play_count this_month">
            <%= number_with_delimiter(@game.monthly_plays, delimiter: ',') %>
          </span>
        </p>
        <br class="clear"/>
      </div>
      <%= link_to "Hide &#8593;".html_safe, '', id: 'hide' %>
    </div>
	</div>
	<div id="game_details">
		<%= render partial: 'description' %>
	</div>
	<div id="comments_wrapper">
 		<%= render partial: 'comments' %>
 	</div>
  <div class="wrapper" id="recommendations">
    <h3>Users Who Liked <%= @game.title %> Also Liked...</h3>
    <div id="recommendations_wrapper">
      <% if @game.recommends.present? %>
        <%= render partial: '/games/game', collection: @game.recommends %>
      <% else %>
        <p id="no_recommendations">There are no recommendations for "<%= @game.title %>" yet.</p>
      <% end %>
    </div>
  </div>
</div>
<% content_for :head do %>
  <%= javascript_include_tag 'jquery.textFit.min' %>
  <%= javascript_include_tag params[:controller] %>
<% end %>