<div class="center">
	<div id="game_show">
		<div id="game_header">
			<%= game_thumb(@game) %>
			<h1><%= @game.title %> 
				<% if @developer.present? %>
					<span>
						By: <%= link_to_if(@developer.link.present?, @developer.name, @developer.link, target: '_blank') %>
					</span>
				<% end %>
			</h1>
		</div>
		<div id="game_body">
			<%= content_tag :embed, "", src: @game.flash_file.url, width: @game.width, height: @game.height %>
		</div>
	</div>
	<div id="game_stats">
		<%= render partial: 'reputation' %>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	var width = $("#game_show").width();
	$("#game_stats").width(width);
});
</script>