<div class="center">
  <%= form_for @user, url: password_update_path(@user), method: :put, html: {class: 'form', style: 'min-width:300px;'} do |f| %>
    <%= link_to "", @user, title: 'Cancel', class: 'form_cancel' %>
    <h1 class="form_header">Change Password</h1>
    <% if @user.errors.any? %>
      <fieldset class="form_errors">
        <legend>Form Errors</legend>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </fieldset>
    <% end %>
    <div class="form_container">
      <div class="form_field">
        <%= f.label :current_password, "Old Password" %><br/>
        <%= f.password_field :current_password %>
      </div>
      <div class="form_field">
        <%= f.label :password, "New Password" %><br/>
        <%= f.password_field :password %>
      </div>
      <div class="form_field">
        <%= f.label :password_confirmation, "Retype New Password" %><br/>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="form_submit">
        <%= f.submit "Change Password" %>
      </div>
    </div>
  <% end %>
</div>