<% if @categories_games.present? %>

  <div class="games_list">
    <% if @group_games %>
      <table class="games_list_table">
        <tbody>
          <% @grouped_games.each do |row| %>
          <tr>
            <% row.each do |game| %>
              <td>
                <%= render partial: '/games/game', locals: {game: game} %>
              </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <%= render partial: '/games/game', collection: @categories_games %>
    <% end %>
  
    <%= will_paginate @categories_games %><%= tag("br", class: 'clear') if @searched_games.size > 18 %>
  </div>
<% else %>
  <p>No <%= @category.name.downcase %> games found with a title containing "<%= params[:search] %>"</p>
<% end %>