<div id="all_categories">
  <% @featured_category_games.each do |group| %>
    <div class="category_section">
      <% group.each do |category_games| %>
        <% category_games.each do |category, games| %>
          <div class="games_container">
            <h3><%= category.name %> Games</h3>
            <% if games.present? %>
              <div class="center">
                <% games.each do |game| %>
                  <div class="game_wrapper">
                    <span>
                      <div class="game_img">
                        <%= link_to game_thumb(game), game %>
                        <%= special_status_image(game) %>
                      </div>
                      <%= link_to game.title, game, class: 'game_link', title: game.title %>
                    </span>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<br class="clear"/>
<%= javascript_include_tag params[:controller] %>