<%= 
  metamagic(
    title: "Glipster | #{@category.name} Games", 
    keywords: %w(flash game free play categories category) << @category.name
  )
%>
<h1 class="category_title"><%= @category.name %></h1>
<div class="center constraint category_constraint">
	<% if current_user && current_user.admin? %>
		<%= link_to "Set Featured Games", featured_category_game_path(@category), id: 'ft_game_link' %>
	<% end %>
	<div class="games_container">
		<h3>Featured Games<%= featured_cat_header_icon %></h3>
		<% if @featured_games.present? %>
			<%= render partial: 'welcome/game_list', locals: {games: @featured_games} %>
		<% end %>
	</div>
	<div class="inline-block vertical-top" style="width:70%;">
		<div style="padding-right:20px;">
			<div class="games_container">
				<h3>New Games</h3>
				<% if @new_games.present? %>
					<%= render partial: 'welcome/game_list', locals: {games: @new_games} %>
				<% end %>
			</div>
		</div>
	</div><!--
	--><div class="inline-block vertical-top" style="width:30%;">
		<div class="games_container">
			<h3>Random Game</h3>
			<% if @random_game.first %><!-- must use 'first' because of 'sample'-->
				<%= render partial: 'welcome/game_list', locals: {games: @random_game} %>
			<% end %>
		</div>
	</div>
	<div class="games_container">
		<h3>All <%= @category.name %> Games</h3>
    <%= form_tag category_path(@category), id: 'category_search' do %>
      <%= search_field_tag :search, params[:search], placeholder: "Search #{@category.name} Games..." %>
      <%= submit_tag "" %>
    <% end %>

    <div id="category_game_search_results">
  		<% if @categories_games.present? %>
        <%= render "category_games" %>
  		<% end %>
    </div>
	</div>
</div>
<%= javascript_include_tag params[:controller] %>
<br class="clear">