<div class="center constraint category_constraint">
	<h1 class="category_title"><%= @category.name %></h1>
	<% if current_user && current_user.admin? %>
		<%= link_to "Set Featured Games", featured_category_game_path(@category), id: 'ft_game_link' %>
	<% end %>
	<div class="games_container yellow_bg">
		<h3>Featured Games</h3>
		<% if @featured_games.present? %>
			<%= render partial: 'welcome/game_list', locals: {games: @featured_games} %>
		<% end %>
	</div>
	<div class="inline-block" style="width:70%;">
		<div style="padding-right:20px;">
			<div class="games_container">
				<h3>New Games</h3>
				<% if @new_games.present? %>
					<%= render partial: 'welcome/game_list', locals: {games: @new_games} %>
				<% end %>
			</div>
		</div>
	</div><!--
	--><div class="inline-block" style="width:30%;">
		<div class="games_container">
			<h3>Random Game</h3>
			<% if @random_game.first %><!-- must use 'first' because of 'sample'-->
				<%= render partial: 'welcome/game_list', locals: {games: @random_game} %>
			<% end %>
		</div>
	</div>
	<div class="games_container">
		<h3>All Games</h3>
		<% if @games.present? %>
			<%= render partial: 'welcome/game_list', locals: {games: @games} %>
		<% end %>
	</div>
</div>