<div class="center">
  <div class="form_wrapper">
    <%= direct_upload_form_for @file, html: {class: 'form', style: 'min-width:300px;'} do |f| %>
      <h1 class="form_header">Upload Game</h1>
      <% if @upload.errors.any? %>
        <fieldset class="form_errors">
          <legend>Form Errors</legend>
          <ul>
            <% for message in @upload.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </fieldset>
      <% end %>
      <div class="form_field">
        <%= link_to image_tag('browse_files.png')+" Select File", '#', onclick: 'openFileBrowser()' %>
        <%= f.file_field :game, value: '', style: 'display:none;' %><br/><br/>
        <div id="fileName">File: <span><i>No file selected</i></span></div>
        <div class="val" id="val_file_size">File is too big (maximum 50 MB)</div>
        <div class="val" id="val_file_type">File is wrong type (must be .swf)</div>
      </div>
      <div class="form_submit">
        <%= f.submit "Submit Game", id: 'file_submit' %>
      </div>
    <% end %>
    <ol class="steps">-Steps-
      <li class="file"><span class="int">1</span> Provide Info</li>
      <li class="last current"><span class="int">2</span> Upload File</li>
      <br class="clear"/>
    </ol>
  </div>
</div>
<%= javascript_include_tag params[:controller] %>
