<div class="constraint">
  <div id="st_left_column">
      <%= form_tag support_tickets_path, method: :get, class: 'form', id: 'support_ticket_form' do %>
        <div class="form_field">
          <%= label_tag "search[message]", "Search", id: 'st_message_label' %><br/>
          <%= text_field_tag "search[message]" %>
        </div>
        <div id="st_sort_order">
          <%= label_tag "search[order]", "Sort Order" %>
          <div class="select_wrapper"><%= select_tag "search[order]", options_for_select([["Newest First", 'newest'],["Oldest First", 'oldest']]) %></div>
        </div>
        <div id="st_archived_cbs">
          <%= check_box "search", "archived", {checked: ((@filters.present?) ? (params[:search][:archived] == "1") : false)}, 1, 0 %>
          <%= label_tag "search[archived]", "Archived" %>
          <%= check_box "search", "unarchived", {checked: ((@filters.present?) ? (params[:search][:unarchived] == "1") : true)}, 1, 0 %>
          <%= label_tag "search[unarchived]", "Unarchived" %>
        </div>
        <div class="form_submit">
          <%= submit_tag 'Search' %>
        </div>
      <% end %>
  </div>
  <div id="st_right_col">
    <h1>S<span>upport</span> T<span>ickets</span></h1>
    <dl id="st_list">
      <% @support_tickets.each do |st| %>
        <dt class="st_header">
          <span class="st_sequence">
            <sup>#</sup><%= st.id %>
            <% if st.archived? %>
              <%= link_to '', support_ticket_path(st, {support_ticket: {archive: false}}), method: :put, remote: true, class: 'st_archived' %>
            <% else %>
              <%= link_to '', support_ticket_path(st, {support_ticket: {archive: true}}), method: :put, remote: true, class: 'st_archive' %>
            <% end %>
            <% if st.pinned? %>
              <%= link_to '', support_ticket_path(st, {support_ticket: {pinned: false}}), method: :put, remote: true, class: 'st_pinned' %>
            <% else %>
              <%= link_to '', support_ticket_path(st, {support_ticket: {pinned: true}}), method: :put, remote: true, class: 'st_pin' %>
            <% end %>
          </span>
          <%= st.reason.titleize %><%= ": #{st.other_reason}" if st.other_reason.present? %>
        </dt>
        <dd class="st_body">
          <p class="st_message"><%= st.message %></p>
          <p class="st_details">
            <%= st.created_at.strftime("%b %e, %Y %l:%m %p") %>
            <% if st.user %>
              <%= "| #{link_to(st.user.username, st.user)}".html_safe  %>
            <% else %>
              <%= "| #{mail_to(st.email)}".html_safe  %>
            <% end %>
            | <%= st.browser_version %>
          </p>
        </dd>
      <% end %>
    </dl>
  </div>
  <br class="clear"/>
</div>