<%= 
  metamagic(
    title: "Support", 
    keywords: %w(flash game free play support help email)
  ) 
%>
<div class="center">
  <%= form_for @support_ticket, html: {class: 'form', id: "contact_us_form", honeypot: true} do |f| %>
    <h1 class="form_header">Contact Us</h1>
    <% if @support_ticket.errors.any? %>
      <fieldset class="form_errors">
        <legend>Form Errors</legend>
        <ul>
          <% for message in @support_ticket.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </fieldset>
    <% end %>
    <div class="form_container">
      <div class="inline-block">
        <div class="form_field">
          <%= f.label :name, "Name (optional)" %><br/>
          <%= f.text_field :name, value: @support_ticket.name, placeholder: "Enter your fullname" %>
        </div>
      </div>
      <div class="inline-block">
        <div class="form_field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, value: (current_user.present? ? current_user.email : @support_ticket.email), placeholder: "Email to respond to" %>
        </div>
      </div>
      <% if @game.present? %>
        <div class="form_field">
          <%= f.label :game_id, "Game" %><br/>
          <span id="bug_report_game_field">
            <%= small_game_thumb(@game) %>
            <span id="bug_report_game_title"><%= @game.title %></span>
          </span>
          <%= f.hidden_field :game_id, value: @game.id %>
        </div>
      <% end %>
      <div class="form_field">
        <fieldset id="contact_us_reason">
          <legend>Select A Reason</legend>
          <div class="inline-block">
            <%= f.radio_button :reason, "report bug", checked: @game.present? %>
            <%= f.label :reason, "Report A Bug", value: 'report bug' %><br/>
            <%= f.radio_button :reason, "general comment" %>
            <%= f.label :reason, "General Comment", value: 'general comment' %><br/>
            <%= f.radio_button :reason, "make a suggestion" %>
            <%= f.label :reason, "Make A Suggestion", value: 'make a suggestion' %><br/>
            <%= f.radio_button :reason, "trouble registering" %>
            <%= f.label :reason, "Trouble Registering", value: 'trouble registering' %>
          </div>
          <div id="contact_reason_right_radius">
            <%= f.radio_button :reason, "game doesnt play" %>
            <%= f.label :reason, "Game Doesn't Play", value: 'game doesnt play' %><br/>
            <%= f.radio_button :reason, "other" %>
            <%= f.label :reason, "Other:", value: 'other' %><br/>
            <%= f.text_field :other_reason %>
          </div>
        </fieldset>
      </div>
      <div class="form_field">
        <%= f.label :message %><br/>
        <%= f.text_area :message, value: @support_ticket.message, placeholder: 'Provide some details...', maxlength: 1000 %><br/>
        <span id="messageCharCount">1000 characters max</span><br class="clear"/>
      </div>
      <div class="form_submit">
        <%= f.submit "Send Message" %>
      </div>
    </div>
    <%= f.hidden_field(:user_id, value: current_user.id) if current_user.present? %>
  <% end %>
</div>
<%= javascript_include_tag params[:controller] %>