<!DOCTYPE html>
<html>
<head>
  <title>Glipster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
	<div id="header">
		<ul id="menu">
			<li>Home</li>
			<li>Categories</li>
			<li>
				<% if current_user.present? %>
					<%= link_to "#{current_user.username}", user_path(current_user) %> <%= link_to "Logout",logout_path, method: :delete %>
				<% else %>
					<%= link_to "Login", login_path %>
				<% end %>
			</li>
		</ul>
	</div>
	<div id="body">
		<% if flash[:alert] %>
    	<p class="flash alert"><%= flash[:alert] %></p>
	  <% end %>
	  <% if flash[:notice] %>
	    <p class="flash notice"><%= flash[:notice] %></p>
	  <% end %>
		<%= yield %>
	</div>
	<div id="footer"></div>
</div>

</body>
</html>
