<!DOCTYPE html>
<html>
<head>
  <title>Glipster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <!--[if IE 9]>
    <%= stylesheet_link_tag 'browsers/ie9.css' %>
  <![endif]-->
  <!--[if IE 8]>
    <%= stylesheet_link_tag 'browsers/ie8.css' %>
  <![endif]-->
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'corners.min' %>
  <![endif]-->
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>

<div id="wrapper">
	<div id="header">
		<div id="linkbar">
			<div id="logo_container">
				<div id="logo_rounded_corner_left"></div><div id="logo_wrapper"><%= link_to image_tag('logo.png'), root_path %></div><div id="logo_rounded_corner_right"></div>
			</div>
			<ul id="menu">
				<li><%= link_to "Featured", root_path, class: cp(root_path) %></li>
		    <li><%= link_to "Most Played", games_most_played_path, class: cp(games_most_played_path) %></li>
		    <li>
          <%= link_to "Highest Rated", games_highest_rated_path, class: cp(users_path) %>
          <span class="coming_soon">Coming Soon!</span>
        </li>
		    <li class="submenu_container">
		    	<%= link_to "Categories <span class='sub_arrow'>&#x25bc;</span>".html_safe, categories_path, class: cp(categories_path) %>
		    	<ul class="submenu">
		    		<li><a id="top"></a></li>
		    		<% Category.all.each do |cat| %>
		    			<li><%= link_to "#{cat.name} #{category_image(cat)}".html_safe, cat, class: cp(category_path(cat)) %></li>
		    		<% end %>
		    	</ul>
		    </li>
			</ul>
			<div id="sessions_links">
				<% if current_user.present? %>
					<%= link_to avatar_thumb(current_user) + " #{current_user.username}", user_path(current_user), class: cp(current_user) %> <%= link_to "Logout", logout_path, method: :delete %>
				<% else %>
					<%= link_to "Login", login_path, class: cp(login_path) %>
				<% end %>
			</div>
		</div>
	</div>
	<div id="body">
		<% if flash[:alert] %>
    	<div class="center"><p class="flash alert"><%= flash[:alert] %></p></div>
	  <% end %>
	  <% if flash[:notice] %>
	    <div class="center"><p class="flash notice"><%= flash[:notice] %></p></div>
	  <% end %>
		<%= yield %>
	</div>

	<div id="footer">
		<div id="footer_border"></div>
		<div id="footer_content"></div>
	</div>
</div>

</body>
</html>
